<% @messages.each do |message| %> 
    <div class="ui feed large">
        <div class="ui orange image large label"><i class=" user outline icon"></i><%= message.user.username %></div> <%= message.body %>
    </div>
<% end %>