<div class="ui segment inverted large menu">
  <div class="item">
   <i class="orange big rocketchat icon"></i>
  </div>
  <div class="left menu">
    <%= link_to "Chat Room", root_path, class: "item" %>
  </div>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <%= link_to "Log in", login_path, class: "item" %>
        <a class="item">Sign up</a>
        <a class="item">Log out</a>
      </div>
    </div>
  </div>
</div>